<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A New Product</title>
</head>
<body>
    <form >
        <input type="text" autofocus id='name' placeholder="Product´s name"/>
        <input type="text" placeholder="Price" id='price'/>
        <input type="text" placeholder="Description" id="description"/>
         <button type="submit" >
            Save
        </button>
    </form>

</body>
<script type="text/javascript" src="./newProduct.js">
</script>
</html>
